<div class="bg-gray-300 p-4 gap-4">
    <p class="text-lg">
        <%= location.name%>
    </p>

    <p class="text-lg">
        <%= location.address%>
    </p>

    <p class="text-lg">
        <%= location.table_limit%>
    </p>
    <div class="mt-4">
        <%= link_to 'Book Reservation', "#", class:"p-2 rounded-md bg-blue-400 text-blue-50" %>
    </div>
</div>