<h1 class="text-4xl mt-20 px-20">Choose Hotel Location</h1>

<div class="grid md:grid-cols-4 gap-4 px-8 mt-8">
    <% @locations.each do |location|%>
        <%= render 'location', location: location %>
    <% end %>
    
</div>
