<div class="pt-8">
    <h1 class="flex text-3xl justify-center ">Your Active Reservations</h1>

    <div class="grid gap-2">
        <% @reservations.each do |reservation|%>
            <%= render 'reservation', reservation: reservation %>
        <% end %>
    </div>
</div>
